.nav-item.active {
    position: relative;
}

/* circle */
.nav-link,
.nav-tabs {
    border: none !important;
}

.nav-item.active::before,
.nav-item.active::after {
    position: absolute;
    content: "";
    bottom: 0;
    width: 7px;
    height: 7px;
    background: rgb(255, 255, 255);
    z-index: 1;
}
.nav-link.active::before,
.nav-link.active::after {
    position: absolute;
    content: "";
    bottom: 0;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background: #212529;
    z-index: 2;
}
.nav-link.active::after {
    right: -15px;
}
.nav-link.active::before {
    left: -15px;
}

.nav-item.active::after {
    left: -7px;
}
.nav-item.active::before {
    right: -7px;
}

.nav-item a {
    color: white;
}
.nav-item a:hover {
    color: grey;
}

.nav-link:hover {
    isolation: initial !important;
}